<div class="sidebar">
    <div class="sidebar__logo">
        <img src="../../../../assets/images/logo.png" alt="logo">
    </div>

    <div class="sidebar__links">
        <a [routerLink]="['/dashboard']" class="sidebar__links-item" routerLinkActive="active"><img src="/assets/icons/category.svg" alt="category">Poročila</a>
        <a [routerLink]="['/profile']" class="sidebar__links-item" routerLinkActive="active"><img src="/assets/icons/profile.svg" alt="profil">Profil</a>
        <a [routerLink]="['/']" class="sidebar__links-item"><img src="/assets/icons/phone.svg" alt="phone">Kontakt</a>
        <a [routerLink]="['/']" class="sidebar__links-item"><img src="/assets/icons/logout.svg" alt="logout">Odjava</a>
    </div>
</div>