<div class="header">
    <div class="header__search">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Išči...">
    </div>
    <div class="header__action">
        <div class="header__action-item red-icon">
            <img src="/assets/icons/message.svg" alt="message">
        </div>
        <div class="header__action-item red-icon">
            <img src="/assets/icons/notification.svg" alt="notification">
        </div>
        <div class="header__action-item">
            <img src="/assets/icons/user.svg" alt="user">
        </div>
    </div>
</div>