
@import '../../shared/variables/variables';

.container {
    background: #fff;
    height: 100%;
    &__left {
        padding: 48px 90px 50px 100px;
        width: 777px;
    }

    &__right {
        background-image: linear-gradient(180deg, #0081B4 0%, $primary 95.31%);
        color: #fff !important;
        display: flex;
        padding: 285px 105px 0 138px;
        width: 663px;
        height: auto;
    
        &-child{
            display: flex;
            flex-direction: column;
            gap: 24px;
            
        }
    
        & .heading{
            font-size: 22px;
            font-weight: 700;
            margin: 0;
        }
    
        & .sub-heading{
            font-size: 22px;
            font-weight: 400;
            margin-top: 40px;
        }

        & .heading, & .sub-heading {
            margin-bottom: 6px;
        }
    
        & .info-text{
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    
    &__action {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top:15px ;
    
        button{
           font-weight: 400;
           font-size: 16px;
           padding: 14px 34px;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        gap:10px;
        font-weight: 400;
        font-size: 14px;
    }

    &__heading {
        margin-bottom: 58px;
        margin-top: 61px;
        h1{
            font-size: 40px;
            font-weight: 500;
            line-height: normal;
            margin: 0;
        }
        span{
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            display: block;
        } 
    }
}

.logo {
    width: 208px;
    height: 28px;
    flex-shrink: 0;
}